<div class="modal" *ngIf="isLoading">
  <p style="text-align: center;">
    <img src="../../assets/load.gif" style="width: 32px; height: 32px;">
    <span>Carregando...</span>
  </p>
</div>
<div class="container">
  <h3>Cidades</h3>
  <form [formGroup]="Formulario" class="row" (ngSubmit)="filtrar()">
    <div class="form-group">
      <label for="buscar">Pesquisar</label>
      <div class="input-group">
        <input type="text" class="form-control" id="Buscar" formControlName="Buscar" placeholder="Digite nome da cidade, uf ou regiao">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i>Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="form-group col-auto align-self-end">

    </div>
  </form>
  <button type="button" class="btn btn-primary" [routerLink]="['./novo']">Novo</button>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>IBGE</th>
          <th>Nome</th>
          <th>UF</th>
          <th>Regiao</th>
          <th>Longitude</th>
          <th>Latitude</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody *ngIf="(cidades)?.length > 0; else empty">
        <tr *ngFor="let c of cidades">
          <td>{{ c.ibge }}</td>
          <td>{{ c.cidade }}</td>
          <td>{{ c.uf }}</td>
          <td>{{ c.regiao }}</td>
          <td>{{ c.longitude }}</td>
          <td>{{ c.latitude }}</td>
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="editar(c.id)">Editar</button>
            &nbsp;
            <button type="button" class="btn btn-danger btn-sm" (click)="openModal(dialogDelete, c)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <tbody>
      <tr>
        <td colspan="7">Não há registros cadastrados.</td>
      </tr>
    </tbody>
  </ng-template>
  <ng-template #dialogDelete>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirma&ccedil;&atilde;o</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Deseja realmente excluir essa cidade <b>{{cidadeToDelete.cidade}}</b>?</p>
      <button type="button" class="btn btn-danger"(click)="confirmDelete(cidadeToDelete)">Sim</button>
      &nbsp;
      <button type="button" class="btn btn-default" (click)="decline()">Não</button>
    </div>
  </ng-template>
</div>
